{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Corredores</title>
  </head>
  <style>
      img{
          height: 100px;
          width: 100px;
          object-fit: contain;
          object-position: top 75%;
      }
      .my-auto{
          padding-top: 2% !important;
      }
      .table td, .table th {
          padding: unset;
      }
      body{
          padding-left: 2%;
          padding-right: 2%;
          padding-top: 3%;
      }

  </style>
  <body>
  <link rel="stylesheet" type="text/css" href="/Content/font-awesome/css/font-awesome.min.css" />


  <div class="container-fluid">
  <div class="row">
    <div class="col-sm col-8" style="width: 40%; text-align: left;">
      <h1>Reporte de Corredores</h1>
    </div>
    <div class="col-sm col-4" style="width: 40%; text-align: right;">
      <button class="btn btn-primary btn-lg disabled" onclick="exportTableToExcel('tblData')">Descargar excel</button>
  <input class="btn btn-primary btn-lg disabled" type="button" id="btnExport" value="Descargar PDF" onclick="Export()" />
    </div>
  </div>
</div>

  <div class="container-fluid">
  <div class="row">
    <div class="col-sm">
    <table class="table table-striped" id="tblData" class="table table-hover">
  <thead>
  <th scope="col" class="text-center" colspan="9"><img  class="rounded mx-auto d-block" src='/media/{{ imagenes.0.2 }}'></th>
  <tr style="background-color: darkgray">
      <th scope="col" class="text-center" colspan="9">UNIDADES DE APOYO PUNTO FIJO POLICIA NACIONAL</th>
  </tr>
    <tr>
      <th scope="col" class="text-center" colspan="3">FECHA: {{ now }}</th>
      <th scope="col" class="text-center" colspan="3">CORREDOR: {{ corredor.0.1 }}</th>
      <th scope="col" class="text-center" colspan="3">REPONSABLE DE CORREDOR: {{ corredor.0.3 }} {{ corredor.0.4 }}</th>
  </tr>
      <tr>
      <th scope="col" class="text-center" colspan="4">HORA INICIO: {{ corredor.0.6 }}</th>
      <th scope="col" class="text-center" colspan="3">HORA FINALIZACION: {{ corredor.0.7 }}</th>
  </tr>
    <tr>
      <th scope="col" class="text-center" colspan="9">DIRECCION EN LA QUE OCURRE EL EVENTO O ACTIVACIÓN: {{ corredor.0.5 }}</th>
  </tr>
    <tr style="background-color: darkgray">
        <th scope="col" class="text-center">No</th>
      <th scope="col" class="text-center">INSTITUCION O ALIANZA </th>
      <th scope="col" class="text-center">LUGAR DE UBICACIÓN</th>
      <th scope="col" class="text-center">NOMBRE DEL APOYO</th>
      <th scope="col" class="text-center">HORA DE LLEGADA</th>
      <th scope="col" class="text-center">HORA DE RETIRO</th>
      <th scope="col" class="text-center">NUMERAL DE LA UNIDAD </th>
      <th scope="col" class="text-center">NOVEDADES PRESENTADAS </th>
{#      <th scope="col" class="text-center">REGISTRO FOTOGRÁFICO</th>#}
    </tr>
  </thead>
  <tbody>
  {% for corredor in data %}
    <tr>
      <th class="my-auto text-center" scope="row my-auto" >{{ forloop.counter }}</th>
      <td class="my-auto text-center">{{ corredor.0 }}</td>
      <td class="my-auto text-center">{{ corredor.1 }}</td>
      <td class="my-auto text-center">{{ corredor.2 }}</td>
      <td class="my-auto text-center">{{ corredor.3 }}</td>
      <td class="my-auto text-center">{{ corredor.4 }}</td>
      <td class="my-auto text-center">{{ corredor.5 }}</td>
      <td class="my-auto text-center">{{ corredor.6 }}</td>
{#      <td class=""><img  class="rounded mx-auto d-block" alt="..." src='/static/{{ corredor.7 }}'></td>#}

    </tr>
  {% endfor %}
  </tbody>
</table>
    </div>
  </div>
</div>
<!-- you need to include the shieldui css and js assets in order for the components to work -->
<link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light/all.min.css" />
<script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
<script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/jszip.min.js"></script>



<style>
    #exportButton {
        border-radius: 0;
    }
</style>

  <script>
      function exportTableToExcel(tableID, filename = ''){
    var downloadLink;
    var dataType = 'application/vnd.ms-excel';
    var tableSelect = document.getElementById(tableID);
    var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');

    // Specify file name
    filename = filename?filename+'.xls':'excel_data.xls';

    // Create download link element
    downloadLink = document.createElement("a");

    document.body.appendChild(downloadLink);

    if(navigator.msSaveOrOpenBlob){
        var blob = new Blob(['\ufeff', tableHTML], {
            type: dataType
        });
        navigator.msSaveOrOpenBlob( blob, filename);
    }else{
        // Create a link to the file
        downloadLink.href = 'data:' + dataType + ', ' + tableHTML;

        // Setting the file name
        downloadLink.download = filename;

        //triggering the function
        downloadLink.click();
    }
}
  </script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <script type="text/javascript">
        function Export() {
            html2canvas(document.getElementById('tblData'), {
                onrendered: function (canvas) {
                    var data = canvas.toDataURL();
                    var docDefinition = {
                        content: [{
                            image: data,
                            width: 500
                        }]
                    };
                    pdfMake.createPdf(docDefinition).download("Table.pdf");
                }
            });
        }
    </script>

  </body>
</html>